.logoImg_row{
  background-color: rgb(59, 59, 59);
  
}
.logo_img{
  height: 50px;
  opacity: 0.5;
}
.dipositCreditCardPage_row{
  display: flex;
  justify-items: center !important;
  align-items: center;
}

.dipositCreditCardPage_col_header_explaination{
  font-size: 25px;
  margin: 2% 0 1% 0;
  padding-right: 45px !important;
  color: rgb(90, 127, 158);
}

.btnCardDeposit{
background-color:rgb(90, 127, 158) !important;
border: none !important;
}