.itemcard_row{
    background-color: white;
    border: 2px solid rgba(171, 184, 255, 0.61);
    margin-top: 5px !important;
    width: 100%;
}
.itemcard_row_img{
    background-color: black;

}


/* אפשר לעשות שבמסך גדול הגובה גדול יותר */
.itemcard_img_col{ 
    height: 100px;
    width: 100px !important;
    padding:0 !important;
    text-align: right;
}
.itemcard_img{
    height: 100%;
    background-color: black;

}

.productPrice , .productName{
    font-size: 75% !important;
}

.productName{
    padding: 3px 0 !important;
    font-weight: 700;
    text-align: right;
    color:rgb(23, 81, 148);
}
.importantNotes , .productName , .productDescription{
    padding-right: 5px !important;
}

.itemcard_row {
    position: relative;
}
.productPrice{
    position: absolute;
    left:2px;
    bottom: 2px;
    font-weight: 700;
    color: rgb(219, 29, 92);
}
.POPULAR{
    position: absolute;
    left:2px;
    top: 2px;
    font-size: 60% !important;
}
.productDescription{
    font-size: 70% !important;
}
.importantNotes{
    font-size: 70% !important;
    font-weight: 600;
}
@media only screen and (min-width: 600px) {
.itemcard_row{
    width: 90%;
}
}
